/* Structure */
body { font-family:'Catamaran', sans-serif; background-color:#ECECEC; }
#header { background-color:white; border-top:solid 10px #a33a1c; }
nav { margin:0 auto; }
nav ul { font-family:'Lato', sans-serif; list-style-type:none; }
nav ul, .sub_header { margin:0; }
nav ul li, nav ul a { color:black; }
nav ul li { font-size:16px; }
nav ul li, .sub_header { font-weight:bold; }
nav ul a:hover { color:#A33A1C!important; }
#current_page { color:#A33A1C; }
main { background-color:#f4f3f1; }
main a { color:#6C665A; font-weight:bold; }
main > div:not(#black_overlay) { max-width:960px; float:none!important; margin:0 auto; padding-top:40px; padding-bottom:40px; }
h1, h4 { color:#AE1315; }
p, main li { color:#6C665A; }
h2 { margin-bottom:0!important; }
h2 { color:black; font-size:20px; }
.sub_header { color:#a33a1c; font-size:18px; }
footer { border-top:solid 1px #DEDEDE; padding:20px 0; clear:both; }
footer * { color:grey; }
footer small { display:block; }
footer a { font-weight:normal; }

/***************************************/

/* Homepage */
#homepage #header + img { max-width:auto!important; overflow:hidden; position:relative;	 }
#hero-copy { background-color:#A33A1C; padding:20px; }
#hero-copy * { color:white; }
#hero-copy h2 { font-size:25px; margin-bottom:20px; }
#hero-copy p { font-size:20px; margin-bottom:10px; }
#hero-copy a { display:block; font-size:18px; border:1px solid white; padding:7px; margin-top:20px; width:132px; }
#homepage main p { font-size:18px; }
#homepage main p:last-of-type { margin-bottom:0; }
footer { background-color:white; }

/* About */
#about .column { padding-bottom:30px; }
#sprites { width:440px; height:110px; margin-top:15px; padding-bottom:15px; }
#sprites + h3 { margin-top:30px; }
#pic1, #pic2, #pic3, #pic4, #pic5 { display:block; width:110px; height:99px; float:left; background-repeat:no-repeat;  }
#pic1 { background-image:url(/images/about_sprite.jpg); background-position:0 0; }
#pic2 { background-image:url(/images/about_sprite.jpg); background-position:-110px 0; }
#pic3 { background-image:url(/images/about_sprite.jpg); background-position:-220px 0; }
#pic4 { background-image:url(/images/about_sprite.jpg); background-position:-330px 0; }
#black_overlay { position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.8); z-index:100; }
#black_overlay, #black_overlay > div { display:none; }
#black_overlay img { position:absolute; top:50%; left:50%; margin-left:-450px; margin-top:-300px; width:900px; height:600px; z-index:1002; }

/* News */
.rows { overflow:hidden; }
.rows a { float:left; height:263px; position:relative; display:block; background-repeat:no-repeat; background-position:0 0; }
#news .rows + .rows { padding-top:0px; }
.rows:last-of-type a { background-position:0 -263px; }
body .lightbox-background { position:absolute; top:50%; left:50%; width:500px; margin-left:-250px; margin-top:-200px; background:white; padding:20px; z-index:1002; }
.article-2009, .article-2010, .article-2011 { width:310px; }
.article-2011, main .article-2010 { margin-right:15px; }
.article-2012 { width:556px; }
.article-2013 { margin-right:15px; width:389px; }
.article-2009, .article-2010, .article-2011 { background-position:0 263px; }
.article-2013 { background-image:url(/images/news_2013_sprite1.jpg); }
.article-2012 { background-image:url(/images/news_2012_sprite1.jpg); }
.article-2011 { background-image:url(/images/news_2011_sprite1.jpg); }
.article-2010 { background-image:url(/images/news_2010_sprite1.jpg); }
.article-2009 { background-image:url(/images/news_2009_sprite1.jpg); }

/* Support */
#support .row:not(:last-of-type) { border-bottom:1px solid #DEDEDE; }
#support .row:not(:first-of-type) { margin-top:30px; }

/* Contact */
#contact main img { padding-bottom:20px; }
#contact .column { padding-bottom:30px; }

/* Blog */
#blog h2 { text-align:left; }
#blog main > div:not(:last-of-type) { border-bottom:1px solid #DEDEDE; }
#blog main > div { padding-bottom:20px; }

/* Static pages */
#static main img { padding-bottom:20px; }

/***************************************/

@media all and (min-width: 1151px) { #hero-copy { position:absolute; top:210px; margin-left:70px; left:50%; box-shadow:0px 3px 15px rgba(0,0,0,0.2); max-width:380px; } }
@media all and (max-width: 1150px) { #hero-copy { top:170px; } }

/* Desktop only */
@media all and (min-width: 951px) {
#mobile-logo { display:none; }
nav { width:960px; }
nav ul li { display:inline; }
nav ul li:not(#logo) { padding:15px 40px; border-top:solid 1px #e9e8e8; border-bottom:1px solid #e9e8e8; }

/* News */
.rows { margin-top:20px; }
.rows:last-of-type a:hover { background-position:0 0; }
.article-2012:hover { background-position:-556px 0; }
.article-2013:hover { background-position:-389px 0; }
/* Support */
#support .row { padding-bottom:10px; }
}

/* Large mobile */
@media all and (max-width: 950px) {
body { min-width:320px; }
nav ul, nav ul #logo { display:none; }
nav ul { position:relative; background-color:white; text-align:center; padding-bottom:10px; border-bottom:2px solid black; }
nav ul li { font-size:19px; padding:10px 0; }
nav li a { display:block; }
nav ul li:not(:last-of-type) { border-bottom:1px solid #e9e8e8; }
.hamburger-container { position:absolute; left:0; top:10px; width:75px; padding:15px 0; margin-top:10px; }
.hamburger-container div { width:22px; height:4px; background-color:#333; margin:4px 0 4px 20px; transition:0.4s; }
#mobile-logo img { display:block; margin:0 auto; } 

/* Pages */
#sprites  { display:none; }
#news .rows:first-of-type { padding:30px 0 0 0; }
#news .rows a { float:none; width:280px; margin-left:auto; margin-right:auto; }
#news .rows:last-of-type a:not(:first-of-type) { margin-top:30px; }
.article-2013 { background-image:url(/images/news_2013_mobile.jpg); }
.article-2012 { background-image:url(/images/2012_mobile.jpg); }
#news .lightbox-background { width:100%; margin-left:0; margin-top:0%; top:10px; left:0; overflow-y:scroll; height:auto; }
#support img.medium-12 { max-width:320px; margin:0 auto; padding-bottom:10px; display:block; float:none; } 
}

/* Mobile */
@media all and (max-width: 667px) {
#homepage #header + img { min-width:667px; }
#homepage #container { overflow:hidden; }
}



