/* Structure */
body { font-family:Arial, Helvetica, sans-serif;  background-color:#ECECEC; -webkit-text-size-adjust:100%; }
body, nav { margin:0 auto; }
img { border:0; }
#header { background-color:white; width:100%; height:148px; border-top:solid 10px #a33a1c; }
nav, nav ul { height:auto; }
nav ul { list-style-type:none; padding-left:0; }
nav ul, h3, .sub_header { margin:0; }
nav ul li, nav ul a { color:black; }
nav ul li, h3, .sub_header { font-weight:700; }
nav ul li, .stack { float:left;  }
nav ul li { text-transform:capitalize; }
nav ul a, footer *  { text-decoration:none; }
#current_page { color:#A33A1C!important; }
footer { border-top:solid 1px #DEDEDE; clear:both; }
footer * { color:grey; font-size:12px; }

/* Text */
h2 { color:#AE1315; font-size:22px; text-align:center; }
p { color:#6C665A; font-size:15px; line-height:22px; }
h3 { color:black; font-size:20px; }
.sub_header { color:#a33a1c; font-size:17px; line-height:23px; }

/* Lightbox */
#black_overlay { background:none repeat scroll 0 0 rgba(0, 0, 0, 0.8); display:none; height:100%; left:0; position:fixed; top:0; width:100%; z-index:900; }
body:not(#about) .lightbox-background { position:absolute; top:50%; left:50%; margin-left:-250px; margin-top:-200px; width:500px; background:white; padding:20px; z-index:1002; }
.lightbox-background p { font-size:14px; line-height:22px; }
.lightbox-background h4 { color:#AE1315; }

/* Homepage */
#homepage main > div:first-of-type { background-color:#A33A1C; width:300px; height:130px; position:absolute; top:250px; right:350px; text-align:center; padding:20px; box-shadow:0px 3px 15px rgba(0,0,0,0.2); }
#homepage main > div:first-of-type * { color:white; }
#homepage main > div:first-of-type h2 { font-size:25px; }
#homepage main > div:first-of-type p { font-size:20px; }

#homepage main { background-image:url('/images/jesus-in-action-building-evolution.jpg'); background-repeat:no-repeat; background-size:contain; padding-top:400px; width:100%; }
#homepage main div { max-width:900px; margin:0 auto; float:none; }
#homepage main p { text-align:center; }
#welcome_text { margin-top:20px; }

/* Desktop only */
@media all and (min-width:668px)  { 
#header { min-width:1000px; }	
header, mainLayer { display:none; } /* Mobile header, nav, off canvas container */
nav ul li { font-size:17px; }
nav ul li:not(#logo) { margin-top:50px; padding:15px 40px; border-top:solid 1px #e9e8e8; border-bottom:solid 1px #e9e8e8; }
nav ul a:hover { color:#A33A1C!important; }
nav, main, footer { width:960px; }
main { margin:0 auto; padding-top:80px; }
#welcome_text { width:880px; padding:0 40px; }
footer { margin:30px auto 0 auto; padding:20px 0; text-align:right; }
}