#about_container {
	width: 930px;
	margin-top: 20px;
	margin-left: 30px;
}

#about_left_col {
	float: left;
	width: 440px;
}

#about_right_col {
	float: right;
	width: 440px;
}

.text_box {
	padding-bottom: 20px;
}

#about_container ul {
	color: #6C665A;
	font-size: 13px;
	line-height: 18px;
	padding-left: 0px;
}

#sprites {
	width: 440px;
	height: 110px;
	margin-top: 15px;
	padding-bottom: 15px;
}

#pic1, #pic2, #pic3, #pic4, #pic5 {
	display: block;
	float: left;
}

#pic1 {
	width: 110px;
	height: 99px;
	background-repeat:no-repeat;
	background-image: url(/images/about_sprite.jpg);
	background-position: 0px -101px;	
}

#pic1:hover {
	background-position: 0px 0px;	
}

#pic2 {
	width: 110px;
	height: 99px;
	background-repeat:no-repeat;
	background-image: url(/images/about_sprite.jpg);
	background-position: -110px -101px;	
}

#pic2:hover {
	background-position: -110px 0px;	
}

#pic3 {
	width: 110px;
	height: 99px;
	background-repeat:no-repeat;
	background-image: url(/images/about_sprite.jpg);
	background-position: -220px -101px;	
}

#pic3:hover {
	background-position: -220px 0px;	
}

#pic4 {
	width: 110px;
	height: 99px;
	background-repeat:no-repeat;
	background-image: url(/images/about_sprite.jpg);
	background-position: -330px -101px;	
}

#pic4:hover {
	background-position: -330px 0px;	
}

#black_overlay {
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index:100;
}

.lightbox_background {
	display: none;
	width: 900px;
	margin: 20px auto 0px auto;
	height: 631px;
	z-index: 101;
	overflow: auto;
	background-color: white;
	overflow: hidden;
}

.close_button {
	display: block;
	float: right;
	color: black;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	margin-right: 15px;
}

#about_container {
	margin-top: 0;
}

/* MOBILE */

@media only screen and (max-width: 570px) {
	
#sprites {
	display: none!important;
}

#about_left_col {
	margin-top: 120px!important;
}

#about_left_col, #about_right_col {
	float: none!important;
	max-width: 280px!important;
	width: 100%!important;
	margin-left: 7%!important;
	margin-right: 6%!important;
}

#about_container p, #about_container ul li {
	font-size: 16px!important;
	line-height: 28px!important;
}

#about_container {
	min-width: 300px!important;
	width: 96%!important;
	padding-left: 2%!important;
	padding-right: 2%!important;
	margin: 0!important;
}

}