/* news mobile pages */

@media screen and (max-width: 569px) and (min-width: 0px) {
body, #container, #header, #content { overflow: hidden!important; }
#content h3, #content p { max-width: 280px!important; }
#content { margin: 0 auto; padding: 0 20px!important; height: auto!important; }
h3 { margin-top: 120px!important; }
p { font-size: 16px; line-height: 28px; }
#footer { margin-top: 40px!important; }
#content a { color: #a33a1c; }
}