@media only screen and (min-width: 780px) {
#news_2012_story:hover, #news_2011_story:hover, #news_2010_story:hover, #news_2009_story:hover {
    background-position: 0 0;
}
#news_2013_story:hover {
    background-position: 389px 0;
}
#news_2012_story:hover {
    background-position: 556px 0;
}
}
#content {
    height: 380px;
}
#news_first_row {
    margin-top: 20px;
}
#news_second_row {
    padding-top: 20px;
}
#news_first_row a, #news_second_row a {
    background-position: 0 263px;
    display: block;
    float: left;
    height: 263px;
}
#news_2013_story {
    background-image: url("/images/news_2013_sprite1.jpg");
    margin-right: 15px;
    width: 389px;
}
#news_2012_story {
    background-image: url("/images/news_2012_sprite1.jpg");
    width: 556px;
}
#news_2009_story, #news_2010_story, #news_2011_story {
    background-position: 0 0;
    width: 310px;
}
#news_2011_story {
    background-image: url("/images/news_2011_sprite1.jpg");
    margin-right: 15px;
}
#news_2010_story {
    background-image: url("/images/news_2010_sprite1.jpg");
    margin-right: 15px;
}
#news_2009_story {
    background-image: url("/images/news_2009_sprite1.jpg");
}
.lightbox_background p {
    font-size: 14px;
    line-height: 22px;
    margin-left: 48px;
    margin-right: 15px;
}
#black_overlay {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}
.lightbox_background {
    /* background-image: url("/images/lined_paper.jpg"); */
	background-color: white;
    background-size: 100% auto;
    display: none;
    height: auto;
    margin: 10% auto 0;
    overflow: hidden;
    padding: 20px;
    width: 500px;
    z-index: 1002;
}
#black_overlay .back_close_box {
    font-weight: bold;
    height: 20px;
    left: 507px;
    position: absolute;
    top: 14px;
    width: 20px;
}
.lightbox_background a {
    color: #000000;
    text-decoration: none;
}
#lightbox_2013, #lightbox_2012, #lightbox_2011, #lightbox_2010, #lightbox_2009 {
    position: relative;
}
.sub_header a {
    color: #000000;
    text-decoration: none;
}
#news_article {
    height: auto;
    margin-left: 30px;
    padding-right: 100px;
    width: 930px;
}
p:last-child {
    padding-top: 20px;
    text-align: center;
}
#news_article h3 {
    padding-bottom: 10px;
}
@media only screen and (max-width: 570px) {
#news_first_row {
    margin-top: 120px !important;
}
#news_first_row a, #news_second_row a {
    background-position: 0 0 !important;
    background-size: 100% auto !important;
    float: none !important;
    height: 233px !important;
    margin: 20px auto 0 !important;
    width: 280px !important;
}
.lightbox_background {
    max-width: 290px !important;
    padding: 10px 20px !important;
    width: 80% !important;
}
.lightbox_background p {
    font-size: 14px !important;
    line-height: 20px !important;
    margin: 3px 0 0 !important;
}
.sub_header {
    font-size: 16px !important;
}
#news_2013_story {
    background-image: url("/images/news_2013_mobile.jpg") !important;
}
#news_2012_story {
    background-image: url("/images/2012_mobile.jpg") !important;
}
#black_overlay .back_close_box {
    font-size: 18px !important;
    left: 260px !important;
    top: 13px !important;
}
#content {
    height: 1430px !important;
}
#news_second_row {
    padding-top: 0 !important;
}
#footer {
    margin-bottom: 10px !important;
    margin-top: 750px !important;
}
#lightbox_2013, #lightbox_2009 {
    margin: 2% auto 0 !important;
}
#news_article {
    margin: 120px 0 0 !important;
    min-width: 300px !important;
    padding-left: 2% !important;
    padding-right: 2% !important;
    width: 96% !important;
}
#news_article p {
    font-size: 16px !important;
    line-height: 28px !important;
}
#news_article p, #news_article h3 {
    margin-left: 7% !important;
    margin-right: 7% !important;
}
.individual_articles {
    height: 400px !important;
}
}


